<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm"   novalidate>
      <div class="form-group">
        <label class="col-md-4">Applicant Name</label>
        <input type="text" class="form-control" formControlName="applicant_name" #applicant_name minlength="3" maxlength="50" [(ngModel)] = "applicant.applicant_name" />
      </div>
      <div *ngIf="angForm.controls['applicant_name'].invalid && (angForm.controls['applicant_name'].dirty || angForm.controls['applicant_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['applicant_name'].errors.required">
          Applicant Name is required.
        </div>
        <div *ngIf="angForm.controls['applicant_name'].errors.minlength || angForm.controls['applicant_name'].errors.maxlength">
          Size must be between 3 and 50.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Applicant Email</label>
        <input type="email" class="form-control" formControlName="applicant_email" #applicant_email [(ngModel)] = "applicant.applicant_email" email/>
      </div>
      <div *ngIf="angForm.controls['applicant_email'].invalid && (angForm.controls['applicant_email'].dirty || angForm.controls['applicant_email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['applicant_email'].errors.required">
          Email is required.
        </div>
        <div *ngIf="angForm.controls['applicant_email'].errors.email">
          Email must be a well-formed email address.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Applicant Phone Number</label>
        <input type="text" class="form-control" formControlName="applicant_phonenumber" #applicant_phonenumber [(ngModel)] = "applicant.applicant_phonenumber" />
      </div>
      <div *ngIf="angForm.controls['applicant_phonenumber'].invalid && (angForm.controls['applicant_phonenumber'].dirty || angForm.controls['applicant_phonenumber'].touched)" class="alert alert-danger">
          Phone number must be 11 digit.
      </div>
      <div class="form-group">
          <label class="col-md-4">Applicant Job Title </label>
          <select class="form-control" formControlName="applicant_job" #applicant_job [(ngModel)]="applicant.applicant_job">
              <option *ngFor="let job of jobs" [ngValue]="job">{{job.job_title}}</option>
          </select>
      </div>
      <div *ngIf="angForm.controls['applicant_job'].invalid && (angForm.controls['applicant_job'].dirty || angForm.controls['applicant_job'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['applicant_job'].errors.required">
          Job Title is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addApplicant(applicant_name.value, applicant_email.value, applicant_phonenumber.value, applicant.applicant_job)"
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary">
            Add Applicant
        </button>
      </div>
    </form>
  </div>
</div>