<div class="row">
  <div class="col-md-12">
      <nb-card class="inline-form-card" accent="info">
        <nb-card-header>Process Search</nb-card-header>
        <nb-card-body>
          <form [formGroup]="angForm" novalidate class="form-inline">
            <div class="form-group full-width">
                <label>From Date</label>
                <input type="text" class="form-control offcet-start10" placeholder="From Date" formControlName="fromdate" #fromdate [(ngModel)] = "from_date">
            </div>
            <div class="form-group full-width">
                <label class="offcet-start20">To Date</label>
                <input type="text" class="offcet-start10 form-control" placeholder="To Date" formControlName="todate" #todate [(ngModel)] = "to_date">
            </div>
              <button (click)="Searchprocess(fromdate.value,todate.value)" class="offcet-start20 btn btn-primary full-width">Search</button>
          </form>
        </nb-card-body>
      </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12  content-center">
    <nb-card size="tiny" accent="info">
      <nb-card-body>

        <div class="table-container">
            <table class="table table-hover">
              <thead>
              <tr>
                  <td>Process ID</td>
                  <td>Name</td>
                  <td>Email</td>
                  <td>Phone Number</td>
                  <td>Job Title</td>
                  <td colspan="2">Actions</td>
              </tr>
              </thead>
  
              <tbody>
                  <tr *ngFor="let hireprocessinfo of hireprocessinfos" [class.highlighted]="hireprocessinfo.processid == currentprocessid">
                      <td>{{ hireprocessinfo.processid }}</td>
                      <td>{{ hireprocessinfo.applicant.applicant_name }}</td>
                      <td>{{ hireprocessinfo.applicant.applicant_email }}</td>
                      <td>{{ hireprocessinfo.applicant.applicant_phonenumber }}</td>
                      <td>{{ hireprocessinfo.applicant.applicant_job.job_title }}</td>
                      <td><a (click) ="setStepper(stepper, hireprocessinfo.applicant._id, hireprocessinfo.processid)" class="btn btn-primary">Show Status</a></td>
                  </tr>
              </tbody>
            </table>
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>
  
<div class="steppers-container row">

  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card accent="info" size="tiny">
      <nb-card-body>
        <nb-stepper orientation="horizontal" disableStepNavigation #stepper>
          <nb-step label="Start">
          </nb-step>
          <nb-step [label]="Telephone" [completed]="applicanthireinfo.telintviwres">
            <ng-template #Telephone><div [class.reject]="applicanthireinfo.telintviwres==false">Telephone</div></ng-template>
          </nb-step>
          <nb-step [label]="Technical" [completed]="applicanthireinfo.techintviwres" [hidden]="applicanthireinfo.telintviwres==false">
            <ng-template #Technical><div [class.reject]="applicanthireinfo.techintviwres==false">Technical</div></ng-template>
          </nb-step>
          <nb-step [label]="Financial" [completed]="applicanthireinfo.finnegotres" [hidden]="applicanthireinfo.telintviwres==false">
            <ng-template #Financial><div [class.reject]="applicanthireinfo.finnegotres==false">Financial</div></ng-template>
          </nb-step>
          <nb-step [label]="Endlbl" [completed]="applicanthireinfo.telintviwres && applicanthireinfo.techintviwres && applicanthireinfo.finnegotres">
            <ng-template #Endlbl>
              <div [class.reject]="applicanthireinfo.telintviwres==false || applicanthireinfo.techintviwres==false || applicanthireinfo.finnegotres==false">
                {{endstatus}}
              </div>
            </ng-template>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>