:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }

.offcet-start20
{
    margin-inline-start: 20px;
}

.content-center
{
    text-align: center;
}

.table-container {
  margin-top: 10px;
  max-height: 300px;
  overflow: auto;
}