:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }

.offcet-start10
{
    margin-inline-start: 10px;
}

.offcet-start20
{
    margin-inline-start: 20px;
}

.content-center
{
    text-align: center;
}

.table-container {
  max-height: 230px;
  overflow: auto;
}

table
  thead{
    font-weight: bold;
  }

.offcet-startend50
  {
    margin-inline-start: 50px;
    margin-inline-end: 50px;
  }

.highlighted
{
  background-color: #5883ad3d;
}

.reject
{
  color: #df6060;
}