<div class="card  bg" >
  <div class="card-body"> 
    <div>
        <div class="title">
            <label class="HEADLINE">Millions of jobs and people hiring</label>
        </div>
        <div>
            <nb-card class="card1">
              <nb-card-header>Jobs</nb-card-header>
              <nb-card-body>
                  <label class="label">Find a job in Tehran</label>
                  <button class="btn btn-primary button" [routerLink]="['/pages/hireprocess/jobs', 'tehran']">Find</button>
              </nb-card-body>
            </nb-card>
        </div>
    </div>         
  </div>
</div>
