.container{
  position: relative;
}
.card1 {
  margin-top: 2%;
  width: 200px;
  align-items: center;
  opacity: 0.9;
  margin-inline-start: 2%;
  text-align: center;
}
.DATE {
      font-size: 85%;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #bbb;
      font-size: 10px;
      font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
      font-weight: 100;	
}
.HEADLINE{
  font: bold 30px "Century Schoolbook", Georgia, Times, serif;
	color: rgb(255, 255, 255);
	line-height: 90%;
	margin: .2em 0 .4em 0;
  letter-spacing: -2px;
  text-align: center;
}