<div class="row">
        <div class="col-lg-12">
          <nb-card>
            <nb-card-header>Telephone Interview Tasks</nb-card-header>
            <nb-card-body>
    
              <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Create Time</td>
                    <td>Priority</td>
                    <td>Description</td>
                    <td>Categury</td>
                    <td>Assignee</td>
                    <td>Claim Time</td>
                    <td>Duo Date</td>
                    <td colspan="2" class="text-align-center">Actions</td>
                </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let taskref of taskrefs">
                        <td>{{ taskref.name }}</td>
                        <td>{{ taskref.createtime }}</td>
                        <td>{{ taskref.priority }}</td>
                        <td>{{ taskref.description }}</td>
                        <td>{{ taskref.categury }}</td>
                        <td>{{ taskref.assignee }}</td>
                        <td>{{ taskref.claimtime }}</td>
                        <td>{{ taskref.duodate }}</td>
                        <td><a (click) ="claim(taskref.taskid)" class="btn btn-primary">Claim</a></td>
                    </tr>
                </tbody>
              </table>
    
            </nb-card-body>
          </nb-card>
        </div>
    </div>